


div#mid2 div div.imagen{

width: 230px;
height: 170px;
margin-left: 20px;
margin-top: 10px;
}   

div.imagen img{
    width: 230px;
    height: 170px;
}

div#mid2 div.noticia1{
    background-color: #CCCCCC;
    width: 292.5px;
    float: left;
    height: 216px;
}

div#mid2 div div.imagen div.botones{

    width: 100px;
    height: 40px;
    float: right;
    margin-top: 128px;
    position: relative;
    top: -172px;
    }   
    
div#mid2{

    position: relative;
}


div#mid2 div div.imagen div.botones a.lupa{

    background-image: url("../img/glyphicons-halflings.png");
    width: 27px;
    height: 20px;
background-color: darkgray;    
background-position: 9.5% -1% ;
position: absolute;
left: 43px;
top: 21px;

}


div#mid2 div div.imagen div.botones a.lupa:hover{

    background-image: url("../img/glyphicons-halflings-white.png");
  
background-position: 9.5% -1% ;
scale: 1.5;
transition: all 0.5s linear 0s;


}



div#mid2 div div.imagen div.botones a.categorias{

    background-image: url("../img/glyphicons-halflings.png");
    width: 27px;
    height: 20px;
background-color: darkgray;    
background-position: 74.5% 33% ;
position: absolute;
left: 73px;
top: 21px;
}


div#mid2 div div.imagen div.botones a.categorias:hover{

    background-image: url("../img/glyphicons-halflings-white.png");
    scale: 1.5;
    transition: all 0.5s linear 0s;

background-position: 74.5% 33% ;

}


div#mid2 div div.textodebajo{

width: 230px;
height: 30px;
margin-left: 20px;
margin-top: 5px;
position: relative;



}div#mid2 div div.textodebajo p:nth-child(1){


    margin-left: 0px;
    font-family: sans-serif;
    position: absolute;
    left:0px;

}



div#mid2 div div.textodebajo p:nth-child(2){


    margin-left: 0px;
    font-family: sans-serif;
    position: absolute;
    left:0px;
    top: 15px;

}
